<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="../main.css">
    <script src="../transition.js" type="text/javascript"></script>
    <link rel="icon" href="https://ryryfn.com/ryryprofile.jpg">
</head>
<body>
    <div id="main">
      <div class="banner" style="background-size: cover; background-repeat: no-repeat; width: 100%; height: 250px; background-image: url(&quot;filterImages/slurpy.png&quot;);"></div>
<div class="banner2" style="background-size: contain; background-repeat: no-repeat; background-position:center; width: 900px; height: 250px; background-image: url('websiteLogo.png'); position: absolute; top:8px"></div>
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="../request">Request</a></li>
	  <li><a href="../assets"><span>Assets</span></a></li>
      <li><a href="../upload"><span>Upload Asset</span></a></li>
     <li><a href="../dashboard" class="active"><span>Dashboard</span></a></li>
    </ul>
    404 <br>
    Page Not Found.
</div>
</body>
</html>