<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= asset.name %></title>
    <link rel="stylesheet" href="../main.css">
    <link rel="icon" href="https://ryryfn.com/ryryprofile.jpg">
</head>
<body>
    This is the template page for 3d models that have a preview.
    
</body>
</html>